#about{
    // padding: 80px 0;
    color: Black;
}

.wrapperOne{
    padding-top: 70px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
    
}

.aboutColOne{
    flex-basis: 35%;

    img{
        width: 100%;
        border-radius: 50%;
        height:auto;
    }
}

.aboutColTwo{
    flex-basis: 60%;

    p{
        font-size: 1.5rem;
    }
}

.aboutColTwo h2{
    color:black;
}

.subTitle{
    font-size: 50px;
    font-weight: 500;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 10%;
}

.button{
    display:block;
    background: #B3D3E0;
    color:#262626;
    margin: 13% auto 10% auto;
    padding: 14px 50px;
    width: fit-content;
    border-radius: 10px;
    text-decoration: none;
    transition:  0.5s;
}
.button:hover{
    background: #0D3050 ;
    color: white;
}

form button{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}