#about{
    padding: 80px 0;
    color: Black;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
}

.aboutColOne{
    flex-basis: 35%;

    img{
        width: 100%;
        border-radius: 50%;
        height:auto;
    }
}

.aboutColTwo{
    flex-basis: 60%;
}

.subTitle{
    font-size: 60px;
    font-weight: 500;
    
}