#contact{
    padding: 35px 0 0 0;
    background: #0D3050;
    margin-top: -20px;
}

.wrapperTwo{
    background: #0D3050;
    max-height: 100%;
}
.container h2{
    font-size: 50px;
    color:#e6f3ff;
    font-family: "Alegreya Sans", sans-serif;
font-weight: bold;
text-align: center;
align-items: center;
}
.contactLeft{
    flex-basis: 35%;

    p{
         margin-top: 55px;
         font-size: 1.3rem;
         font-family: "Alegreya Sans", sans-serif;
         color: #e6f3ff;
    }
}

.contactRight{
    flex-basis: 60%;
}

.contactLeft p i{
     color: #e6f3ff;
     font-size :25px;
     margin-right: 15px;
}

.socialIcons{
      margin-top: 30px;

      a{
        text-decoration: none;
        font-size : 30px;
        margin-right: 70px;
        color:#e6f3ff;
        display: inline-block;
        transition: transform 0.5s ;
      }
}

.socialIcons a:hover{
    color:#77acde;
    transform: translateY(-8px);
    cursor: pointer;
}

.contactRight form{
    width: 100%;
    margin-top: 37px;
    color:#e6f3ff;
}

form input, form textarea{
    width: 100%;
    border : double 5px ;
    outline : none;
    background: #e6f3ff;
    padding: 15px;
    margin: 15px 0;
    color:#0D3050;
    font-size: 18px;
    border-radius: 6px;
}

form input, form textarea:hover{
    cursor: pointer;
}

.returnTop{
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

.returnTop a{
    text-decoration: none;
    padding: 5px 10px;
    // text-shadow: 2px 2px 2px black;
    color:#0D3050;
    border : double 5px;
    background:#e6f3ff;
}

.returnTop a:hover, .returnTop a:focus{
      cursor: pointer;
      border-radius: 15px;
      transition: 0.5s;
}

.copyRight{
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #0D3050;
    color:#fff;
    font-weight: 300;
    margin-top: 20px;
    font-size: 1.5rem
}
.buttonOne{
    display:block;
    background:#e6f3ff;
    color:#0D3050;
    // margin: 15% auto auto auto;
    padding: 14px 30px;
    width: fit-content;
    border-radius: 10px;
    text-decoration: none;
    transition:  0.5s;
    border : double 5px;
}

.buttonOne:hover{
    background: #77acde ;
    color:#0D3050;
}

.rowOne{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ; 
}


