@media(max-width:1020px){
    nav ul li{
        font-size: 20px;
        margin: 30px;
    }
}

@media(max-width:890px){
    nav ul li{
        font-size: 15px;
        margin: 15px;
    }

    // .headerText h1{
    //     font-size: 4rem;    
    // }
    // .headerText p{
    //     font-size:2rem;
    // }

    .button{
        margin:10%;
    }

    .socialIcons a{
         margin: 0 15px;
        }
    }
        

@media(max-width:790px){
      .rowOne{
        flex-direction: column;
        align-items: center;
        margin-top: -5%;
      }
    //   .contactRight{
    //    margin-top: -4%;
    //   }

    //   .contactLeft p{
    //     margin-top:6%;
    //   }

      .headerText{
        // margin-top: 100%;
        font-size: 16px;
    }

    .socialLinks{
        margin-top: 0;
    }

    .headerText h1{
        font-size: 2.5rem;
        text-align: left;
        margin-top: 0px;
        position: absolute;
        top: 25%;
        right: 40%;
        left: -11%;
        font-size: 50px;
        width:100%;
      }
      
      .headerText p{
        font-size: 30px;
        position: absolute;
        top: 32%;
        left: -14%;
      }
        
// Hamburger Menu
    nav ul .fa-solid{
        display:block;
        font-size: 25px;
    }

    nav .fa-sharp{
        display: block;
        font-size: 25px;
    }

     nav ul{
        position: fixed;
        top:0;
        right: -200px;
        width: 200px;
        height:60vh;
        padding-top: 50px;
        background: #0D3050;
        color: white;
        z-index : 2;
        transition: right 0.5s;
     }
    nav ul li{
         display: block;
         margin:25px;

         a{
            color: white;
         }
      }
    
    nav ul .fa-solid{
        position: absolute;
        top:25px;
        left:25px;
        cursor: pointer;
    }
    
    nav .fa-sharp{
        position: absolute;
        right: 50px;
        top: 40px;
    }
    
     
    }
    // .headerText p{
    //     font-size:1.5rem;
    //     text-align: center;
    // }

 @media(max-width:650px) {
    .headerText h1{
        font-size:40px;
    }

    .headerText p{
        font-size:30px;
   } 
   
   .row{
    flex-direction: column;
   }
   .aboutColOne img{
    width: 50%;
    position: relative;
    left: 25%;
    top: -10%;
   }

   .aboutColTwo p{
        margin-top: -10px;
        margin-left: 20px;
   }

   .aboutColTwo a{
    margin-left: 20%;
   }
   .aboutColTwo h2{
    margin-top: 10%;
   }

   .buttonOne{
    margin-left:20% ;
   }

   .socialIcons a{
    margin-left: -3px;
   }
   
 }

 @media(max-width:420px){
    html,body{
        overflow-x: hidden;
    }

    .container h2{
        font-size: 37px;
    }
    .headerText p{
        font-size:25px;
        margin-left: 19%;
   } 

   .headerText h1{
    margin-left: 15%;
   }

   .skills li{
    width: 75px;
    text-align: center;
    align-items: center;
   }
   
 }
















  
