#portfolio{
    padding: 70px 0 0 0;
  
 }


 .projectWork{
    // background: #f0f8ff;
    background: #e6f3ff;
 }

// .workList{
//     display: grid;
//      grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
//     // grid-template-columns: repeat(2, 1fr);
//     grid-gap :40px;
//     margin-top: 50px;
// }

// .work{
//     border-radius: 10px;
//     position: relative;
//     overflow:hidden ;

//     img{
//         width: 100%;
//         border-radius: 10px;
//         display: block;
//         height: auto;
//         transition:transform 0.5s;
//     }
// }

// .workList{
//     display:flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     align-items: center;
// }

// .firstSection{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }

// .firstProject,
// .secondProject{
//     position: relative;

//     img{
//                 width: 100%;
//                  border-radius: 10px;
//                  display: block;
//                  height: auto;
//                  transition:transform 0.5s;
//            }
// }

.madeWith{
    display: flex;
    padding: 10px 30px;
    margin: 10px;
    gap: 10px;
    flex-wrap: wrap;

    li{
        list-style: none;
        background-color: white;
        color:#808080;
        width: auto;
        border-radius: 50px;
        padding: 5px 10px;
        margin: 5px;          
    }
}

.layer a{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0.5s;
    letter-spacing: 2px;
    padding: 8px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    margin-right: 10%;
    // background-color: white;   
}

.layer a:hover{
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
     border-radius: 15px;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #39b3c5);
    border-radius: 10px;
    position: absolute;
    left:0;
    bottom:0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    // padding: 30px 40px;
    text-align: center;
    transition: height 0.8s;
    color:white;
    
}

.layer h3{
    margin-bottom: 0px;
    padding: 30px;
    font-size: 150%;
}

.layer p{
    font-size: 20px;
}

.socialLinks{
    display: flex;
    margin : 40px;
    padding-right: 30px;
    width: 70%;
    justify-content: end;
}

.work:hover img{
    transform: scale(1.2);
}

.work:hover .layer{
   height: 100%;
}

// .firstProject:hover img{
//      transform: scale(1);
// }

// .firstProject:hover .layer{
//     height: 100%;
// }

// .secondProject:hover img{
//     transform: scale(1);
// }

// .secondProject:hover .layer{
//    height: 100%;
// }







//*********************** New CSS for Gabby style****************//
.wrapperOne h2{
    color:#0D3050;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: bold;
}


body p{
    text-align: justify;
    text-justify: inter-word;
}
.wrapperOne{
        max-width: 1260px;
        width: 90%;
        margin: 0 auto;
}

.project{
border: double 5px #0D3050;
border-radius: 15px;
margin: 20px 0;
padding: 20px;
display: flex;
align-items: center;
}

.project .preview{
    width: 50%;
}

.project .preview img{
                    width: 100%;
                     border-radius: 10px;
                    display: block;
}
// .project {
//     display: flex;
//     align-items: center;
//   }

.project, .reverse {
    border: solid 1px black;
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px;
}

.reverse{
    flex-direction: row-reverse;
}
a{
    text-decoration: none;
    color: inherit;
}

.project .projectInfo {
    width: 50%;
    font-size: 1.4rem;
    font-family: 'Alegreya Sans', sans-serif;
}

.projectInfo p{
    color:#0D3050;
}
.project h3{
display: inline-block;
padding-bottom: 10px;
font-size: 35px;
color:#0D3050;
}
.toolkit {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-top: 10px;
}

ul {
    list-style: none;
}

.toolkit li {
    font-size: 1.2rem;
    padding: 5px;
    margin: 5px 10px 5px 0;
    border: 1px solid #0D3050;
    border-radius: 15px;
    transition: 0.7s;
    color: #0D3050;
}
.view{
    display: flex;
    margin: 10px 0;
    padding-top: 10px;
}

.link{
    margin-right: 15px;
}

.link a{
padding: 5px;
border-top: 1px solid #0D3050;
border-bottom: 1px solid #0D3050;
transition: 0.7s;
letter-spacing: 2px;
font-size: 1.2rem;
color: #0D3050;
}

.link a:hover{
border-left: 1px solid #0D3050;
border-right: 1px solid #0D3050;
border-radius: 15px;
color: white;
background: #0D3050;
}


  @media (max-width: 1060px){
  .project .projectInfo, .project .preview, .reverse .projectInfo, .reverse .preview {
    width: 100%;
  }

  .project {
    flex-direction: column;
    text-align: center;
}
.toolkit, .view {
  justify-content: center;
}
}

@media(max-width:540px){
   .project .preview img{
     max-width: 100%;
     height: auto;
   }
}