.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    // margin: 20px auto 60px auto;
  
}
.skills li{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    // text-align: center;
    padding: 20px 0;
    margin: 0 30px;
    flex-basis: 18%;
    color: #e6f3ff; 
    transition: transform 0.5s ;
   
    img{
        width: 75px;
    }
}

.skills li:hover{
    color: rgb(161, 181, 217);
    cursor: pointer;
    transform: translateY(-8px);
}

.skillsSection h2{
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: bold;
    color: #e6f3ff;
}

.skillsSection{
    padding: 70px 0 0 0;
    background: #0D3050;
}